body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.right-section {
    flex-basis: 80%;
    max-width: 700px; /* Limits the width of the paragraph */
    margin: 0 20px;   /* Adds space on both sides */
    text-align: justify; /* Justifies the text for better readability */
    line-height: 1.5;
}

.left-section {
    flex-basis: 20%;
    margin-right: 50px; /* Adds space between the image and text */
}

.profile-pic {
    border-radius: 50%;
    width: 150px;   /* Adjust this value as needed */
    max-width: 150px;  /* Ensures it doesn't exceed this size */
    height: auto;   /* Keeps the aspect ratio intact */
    margin-right: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio h1 {
    font-size: 2.5em;
    margin: 0;
}

.bio p {
    margin: 10px 0;
    line-height: 1.5;
}

ul {
    padding-left: 20px;
    line-height: 1.8;  /* Adds spacing between lines in bullet points */
}

li {
    margin-bottom: 10px;  /* Adds extra space between each bullet point */
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.cv-download {
    text-align: center;
    margin-top: 20px;
}

.cv-download a {
    color: blue;
    text-decoration: underline;
}